.horizontal-scroll {
    display: flex;
    overflow-x: auto;
    padding: 10px 0;
    scrollbar-width: thin;
  }
  
  .mini-carousel-img {
    flex: 0 0 auto;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  .slick-slide img {
    margin: 0 auto;
    width: 250px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .slick-prev, .slick-next {
    z-index: 1;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }